<template>
    <div class="main-banners">
        <AppMainBanner class="banner big-banner" />
        <AppSaleBanner class="banner sale-banner" />
        <HomeMainCategory
            v-for="category in categories"
            :key="category.id"
            :category="category"
            class="banner caterory-banner"
        />
    </div>
</template>

<script setup>
import AppMainBanner from '@/components/home-page/banners/AppMainBanner.vue'
import AppSaleBanner from '@/components/home-page/banners/AppSaleBanner.vue'
import HomeMainCategory from '@/components/home-page/banners/HomeMainCategory.vue'
import categoryImg1 from '/src/assets/images/categories/category-1.png'
import categoryImg2 from '/src/assets/images/categories/category-2.png'
import categoryImg3 from '/src/assets/images/categories/category-3.png'

const categories = [
    {
        id: 1,
        title: 'Одежда',
        link: 'clothes',
        img: categoryImg1
    },
    {
        id: 2,
        title: 'обувь',
        link: 'shoes',
        img: categoryImg2
    },
    {
        id: 3,
        title: 'Снаряжение',
        link: 'equipment',
        img: categoryImg3
    }
]
</script>

<style lang="scss" scoped>
.main-banners {
    display: grid;
    grid-template-columns: repeat(3, 1fr) minmax(17rem, 1fr);
    grid-template-rows: 30rem 15rem;
    gap: 1.2rem;
    & .banner {
        border-radius: 0.8rem;
        overflow: hidden;
    }
    & .big-banner {
        grid-column: span 3;
    }
    & .sale-banner {
        grid-row: span 2;
    }
}
@media screen and (max-width: 1200px) {
    .main-banners {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 28rem 14rem;
        & .banner {
            border-radius: 0.8rem;
            overflow: hidden;
        }
        & .big-banner {
            grid-column: span 2;
        }
        & .sale-banner {
            grid-row: unset;
        }
    }
}
@media screen and (max-width: 992px) {
    .main-banners {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 25rem 12rem;
    }
}
@media screen and (max-width: 768px) {
    .main-banners {
        grid-template-columns: auto;
        grid-template-rows: auto 7.7rem repeat(3, minmax(7.7rem, 55vw));

        & .big-banner {
            grid-column: unset;
        }
    }
}
</style>
