.ui-input {
	border-radius: 0.4rem;
	line-height: 1.2rem;
	padding: 0.8rem;
	font-size: 1rem;
	background-color: $color-base-6;
	border: 1px solid transparent;
	border-radius: 0.4rem;
	transition: all 0.3s ease-in-out;
	&:hover {
		border: 1px solid $color-primary-1;
	}
	&:focus {
		border: 1px solid $color-base-1;
	}
	&::placeholder {
		color: $color-base-1;
	}
}
.ui-checkbox {
	& input[type="radio"] {
		position: relative;
		width: 1.2rem;
		height: 1.2rem;
		border: 1px solid $color-base-4;
		background-color: $color-base-6;
	}
	& input[type="radio"]::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 1px solid $color-base-4;
		background-color: $color-base-6;
		transition: all 0.3s ease-in-out;
	}
	& input[type="radio"]:hover::before {
		border: 1px solid $color-primary-1;
	}
	& input[type="radio"]:checked::before {
		border: 1px solid $color-primary-1;
		background-color: $color-primary-1;
	}
	& input[type="radio"]:checked::after {
		content: "";
		position: absolute;
		width: 0.3rem;
		height: 0.3rem;
		inset: 0.45rem;
		border-radius: 50%;
		background-color: $color-base-6;
	}
}
@media screen and (max-width: 992px) {
	.ui-input {
		height: 2.4rem;
		font-size: 0.9rem;
	}
}
@media screen and (max-width: 768px) {
	.ui-input {
		height: 2rem;
		font-size: 0.7rem;
	}
}
.modal-enter-active,
.modal-leave-active {
	transition: opacity 0.3s ease-in-out;
}

.modal-enter-from,
.modal-leave-to {
	opacity: 0;
}
.modal {
	display: flex;
	position: fixed;
	width: 100vw;
	max-width: unset;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 5;
	&__background {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-base-1;
		opacity: 0.2;
	}
	&__close-btn {
		position: absolute;
		top: 0.8rem;
		right: 0.8rem;
		width: 1.2rem;
		height: 1.2rem;
		background-color: transparent;
	}
	&__container {
		position: relative;
		margin: auto;
		padding: 2rem;
		border-radius: 0.8rem;
		background-color: $color-base-6;
	}
}
@media screen and (max-width: 992px) {
	.modal {
		&__container {
			padding: 1.6rem;
		}
	}
}
@media screen and (max-width: 767px) {
	.modal {
		padding: 0;
		&__container {
			width: 100%;
			margin: auto 0 0;
			padding: 1rem;
			max-height: 100%;
			overflow-y: auto;
			border-radius: 0.8rem 0.8rem 0 0;
		}
	}
}
