$color-primary-1: #61afd2;
$color-primary-2: #4497bc;
$color-primary-3: #e7f6fc;
$color-base-1: #0b0b0b;
$color-base-2: #3b3b3b;
$color-base-3: #707070;
$color-base-4: #e6e6e6;
$color-base-5: #f5f5f5;
$color-base-6: #fff;
$color-secondary-green: #27ae60;
$color-secondary-yellow: #f2c94c;
$color-secondary-red: #eb5757;
