@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("src/assets/fonts/Montserrat-Regular.eot"); /* IE9 Compat Modes */
	src:
		url("src/assets/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("src/assets/fonts/Montserrat-Regular.woff2") format("woff2"),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("src/assets/fonts/Montserrat-Regular.woff")
			format("woff"),
		/* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("src/assets/fonts/Montserrat-Regular.ttf")
			format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: url("src/assets/fonts/Montserrat-Medium.eot"); /* IE9 Compat Modes */
	src:
		url("src/assets/fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("src/assets/fonts/Montserrat-Medium.woff2") format("woff2"),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("src/assets/fonts/Montserrat-Medium.woff")
			format("woff"),
		/* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("src/assets/fonts/Montserrat-Medium.ttf")
			format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: url("src/assets/fonts/Montserrat-Bold.eot"); /* IE9 Compat Modes */
	src:
		url("src/assets/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("src/assets/fonts/Montserrat-Bold.woff2") format("woff2"),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("src/assets/fonts/Montserrat-Bold.woff")
			format("woff"),
		/* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("src/assets/fonts/Montserrat-Bold.ttf")
			format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
