@import "./nullstyle.scss";
@import "./fonts.scss";

html {
	font-size: 20px;
}
body {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 400;
	background-color: $color-base-6;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
main {
	flex: 1 1 auto;
}
h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 2.4rem;
}
.container {
	width: 100%;
	max-width: 1792px;
	margin: 0 auto;
	padding: 0 64px;
}

.page-sections {
	display: flex;
	flex-direction: column;
	gap: 4.8rem;
	margin: 1.2rem 0 4.4rem;
}

@media screen and (max-width: 1200px) {
	h2 {
		margin-bottom: 1.6rem;
		font-size: 2rem;
	}
	.page-sections {
		gap: 4.4rem;
	}
}

@media screen and (max-width: 992px) {
	h2 {
		font-size: 1.6rem;
	}
	.container {
		padding: 0 40px;
	}
	.page-sections {
		gap: 4rem;
		margin: 0.8rem 0 4rem;
	}
}

@media screen and (max-width: 768px) {
	h2 {
		margin-bottom: 1.2rem;
		font-size: 1.2rem;
	}
	.page-sections {
		gap: 3.2rem;
		margin: 1rem 0 3.2rem;
	}
	.container {
		padding: 0 20px;
	}
}
