<template>
    <swiper-slide class="product-card">
        <RouterLink to="product">
            <img
                :src="imageProduct1"
                alt="Ботинки утепленные мужские Kappa Seicento Puffy"
                class="product-card__image"
            />
        </RouterLink>
        <div class="product-card__info">
            <div class="product-card__price">
                <p class="current-price">32 190 ₽</p>
                <p class="old-price">58 990 ₽</p>
            </div>
            <RouterLink to="product">
                <p class="product-card__title">Ботинки утепленные мужские Kappa Seicento Puffy</p>
            </RouterLink>
        </div>
        <div class="product-card__dynamic-section">
            <ProductSizeButtons class="product-card__sizes" :sizes="sizes" />
            <ProductColorButtons class="product-card__colors" :colors="colors" />
        </div>
    </swiper-slide>
</template>

<script setup>
import { RouterLink } from 'vue-router'
import ProductSizeButtons from './ProductSizeButtons.vue'
import ProductColorButtons from './ProductColorButtons.vue'
import imageProduct1 from '/src/assets/images/catalog/product-1.jpg'
const sizes = [39, 40, 41, 42, 43]
const colors = ['#0B0B0B', '#BE7E50', '#D9D9D9']
</script>

<style lang="scss" scoped>
.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 398px;
    padding-bottom: 4.1rem;
    &__image {
        background-color: $color-base-5;
        width: 100%;
        height: 26rem;
        //   aspect-ratio: 1/1.32;
        border-radius: 0.8rem;
        overflow: hidden;
        margin-bottom: 0.8rem;
    }
    &__price {
        display: flex;
        font-weight: 500;
        line-height: 1.3rem;
        gap: 0.6rem;
        margin-bottom: 0.6rem;
        & .old-price {
            color: $color-base-3;
            text-decoration: line-through;
        }
    }
    &__title {
        height: 2.6rem;
        line-height: 1.3rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__info {
        background-color: $color-base-6;
        z-index: 1;
    }
    &__dynamic-section {
        position: absolute;
        bottom: 0;
        height: 4.1rem;
        transform: translateY(-100%);
        transition: all 0.5s ease-in-out;
    }
    &:hover &__dynamic-section {
        transform: translateY(0);
    }
    &__sizes {
        display: flex;
        gap: 0.8rem;
    }
    &__sizes,
    &__colors {
        margin-top: 0.6rem;
    }
    &__colors {
        display: flex;
        gap: 0.4rem;
    }
}
@media screen and (max-width: 1200px) {
    .product-card {
        max-width: 17rem;
        &__image {
            height: 22rem;
        }
    }
}
@media screen and (max-width: 992px) {
    .product-card {
        padding-bottom: unset;
        max-width: 14.6rem;
        &__image {
            height: 20rem;
        }
        &__info {
            font-size: 0.9rem;
        }
        &__dynamic-section {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .product-card {
        max-width: 11rem;
        &__image {
            height: 15rem;
        }
        &__info {
            font-size: 0.7rem;
        }
    }
}
@media screen and (max-width: 320px) {
    .product-card {
        max-width: 6.6rem;
        &__image {
            height: 9rem;
        }
        &__info {
            font-size: 0.4rem;
        }
    }
}
</style>
