<template>
    <section class="catalog">
        <h2>Каталог</h2>
        <div class="catalog-filters"></div>
        <div class="catalog-slider">
            <swiper-container
                class="catalog-slider__wrapper"
                slides-per-view="auto"
                space-between="24px"
            >
                <CardItem v-for="item in 5" :key="item" />
                <!-- <swiper-slide v-for="item in 5" :key="item">
                </swiper-slide> -->
            </swiper-container>
        </div>
    </section>
    <router-view />
</template>

<script setup>
import CardItem from './CardItem.vue'
import { register } from 'swiper/element/bundle'

register()
</script>

<style lang="scss" scoped>
.catalog-slider {
    overflow: hidden;
    &__wrapper {
        display: flex;
    }
}
swiper-container::part(container) {
    overflow: unset;
}
@media screen and (max-width: 992px) {
    .catalog-slider {
        margin: 0 calc((100vw - 100%) / 2 * -1);
        padding-left: calc((100vw - 100%) / 2);
    }
}
</style>
