<template>
    <ul>
        <li v-for="item in props.sizes" :key="item">
            <button
                @click.prevent="changeActiveSize(item)"
                class="size-btn"
                :class="[activeSize == item ? 'active' : '']"
            >
                {{ item }}
            </button>
        </li>
    </ul>
</template>

<script setup>
import { defineProps, ref } from 'vue'

const props = defineProps({
    sizes: Object
})

let activeSize = ref(props.sizes[0])

const changeActiveSize = (item) => {
    activeSize.value = item
}
</script>

<style lang="scss" scoped>
.size-btn {
    position: relative;
    background-color: transparent;
    color: $color-base-3;
    transition: all 0.3s ease;
    &:hover {
        color: $color-base-1;
    }
    &.active {
        color: $color-base-1;
    }
    &.active::after {
        content: '';
        position: absolute;
        height: 1px;
        left: 0;
        width: 100%;
        bottom: -0.1rem;
        background-color: $color-base-1;
    }
}
.product-modal__info_sizes .size-btn {
    font-size: 1rem;
}
@media screen and (max-width: 767px) {
    .product-modal__info_sizes .size-btn {
        font-size: 0.7rem;
    }
}
</style>
