<template>
    <ul>
        <li v-for="color in colors" :key="color">
            <button
                @click.prevent="changeActiveSize(color)"
                class="color-btn"
                :class="[activeColor == color ? 'active' : '']"
            >
                <span :style="{ backgroundColor: color }"></span>
            </button>
        </li>
    </ul>
</template>

<script setup>
import { defineProps, ref } from 'vue'

const props = defineProps({
    colors: Object
})

let activeColor = ref(props.colors[0])

const changeActiveSize = (item) => {
    activeColor.value = item
}
</script>

<style lang="scss" scoped>
.color-btn {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0.15rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $color-base-6;
    transition: border 0.3s ease;
    &:hover {
        border-color: $color-base-4;
    }
    &.active {
        border-color: $color-primary-1;
    }
    & span {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
</style>
