<template>
    <div class="chairs-container">
        <span class="chair"> {{ props.numeral }}</span>
    </div>
</template>

<script setup>
import { defineProps } from 'vue'

const props = defineProps({
    numeral: {
        type: String,
        required: true,
        default: '0'
    }
})
</script>

<style lang="scss" scoped>
.chair {
    font-weight: 700;
    font-size: 2.4rem;
    color: $color-base-6;
    text-align: center;
}
@media screen and (max-width: 1200px) {
    .chair {
        font-size: calc(2vw + 12px);
    }
}
</style>
