<template>
    <div class="timer-sections">
        <TimerSection v-for="data in saleEndDateArray" :key="data.string" :data="data" />
    </div>
</template>

<script setup>
import TimerSection from './TimerSection.vue'
import { defineProps, ref } from 'vue'
const props = defineProps(['endDate'])
let saleEndDateArray = ref(null)

const getTimeRemaining = function (endtime) {
    const t = Date.parse(endtime) - Date.parse(new Date()),
        days = Math.floor(t / (1000 * 60 * 60 * 24)),
        hours = Math.floor((t / (1000 * 60 * 60)) % 24),
        minutes = Math.floor((t / (1000 * 60)) % 60),
        seconds = Math.floor((t / 1000) % 60)

    return {
        total: t,
        days: days,
        hours: hours,
        minutes: minutes,
        seconds: seconds
    }
}

const updateClock = () => {
    const t = getTimeRemaining(props.endDate)
    if (t.total <= 0) {
        clearInterval(timeInterval)
    }
    saleEndDateArray.value = [
        {
            string: 'Дней',
            numberic: t.days
        },
        {
            string: 'Часов',
            numberic: t.hours
        },
        {
            string: 'Минут',
            numberic: t.minutes
        },
        {
            string: 'Секунд',
            numberic: t.seconds
        }
    ]
}
const timeInterval = setInterval(updateClock, 1000)
</script>

<style lang="scss" scoped>
.timer-sections {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .timer-sections {
        max-width: 18rem;
        gap: 0.8rem;
    }
}
</style>
