<template>
    <div class="time-section">
        <div class="time-section__clock-face">
            <DynamicNumeral class="clock-face__numeral" :numeral="arrNumber[0]" />
            <DynamicNumeral class="clock-face__numeral" :numeral="arrNumber[1]" />
        </div>
        <p class="time-section__text">{{ props.data.string }}</p>
    </div>
</template>

<script setup>
import DynamicNumeral from './DynamicNumeral.vue'
import { defineProps, computed } from 'vue'

const props = defineProps({
    data: Object
})

const arrNumber = computed(() => {
    let propsNumberic = props.data.numberic
    if (propsNumberic < 10) {
        propsNumberic = '0' + propsNumberic
    } else {
        propsNumberic = '' + propsNumberic
    }
    return propsNumberic.split('')
})
</script>

<style lang="scss" scoped>
.time-section {
    &__clock-face {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 0.4rem;
        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 100%;
        }
    }
    &__text {
        text-align: center;
        color: $color-base-6;
    }
}
@media screen and (max-width: 1200px) {
    .time-section {
        &__text {
            font-size: calc(1vw + 0.2rem);
        }
    }
}
</style>
