<template>
    <div class="main-banner">
        <picture>
            <source :srcset="xlBanner" media="(min-width: 600px)" />
            <img
                loading="lazy"
                class="main-banner__image"
                :src="xlBanner"
                alt="testshop main banner"
            />
        </picture>
        <div class="main-banner__text-container">
            <picture>
                <source :srcset="mdSaleText" media="(max-width: 1200px)" />
                <img :src="SaleText" class="main-banner__text" />
            </picture>
            <p class="main-banner__text_precent">70%</p>
        </div>
    </div>
</template>

<script setup>
import xlBanner from '/src/assets/images/home-page/baner-xl.jpg'
import mdSaleText from '/src/assets/images/home-page/sale-text-md.png'
import SaleText from '/src/assets/images/home-page/sale-text.png'
</script>

<style lang="scss" scoped>
.main-banner {
    position: relative;

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }
    &__text-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 4.1rem 3.2rem;
        z-index: 1;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__text_precent {
        line-height: 6rem;
        font-size: 7.8rem;
    }
}
@media screen and (max-width: 1200px) {
    .main-banner {
        &__text-container {
            max-width: 80%;
            padding: 2rem;
            & img {
                max-width: 100%;
            }
        }
        &__text_precent {
            display: none;
        }
    }
}
@media screen and (max-width: 992px) {
    .main-banner {
        &__text-container {
            padding: 1.6rem;
        }
    }
}
@media screen and (max-width: 768px) {
    .main-banner {
        width: 100%;
        aspect-ratio: 1/0.86;
        &__text-container {
            padding: 1.2rem;
        }
    }
}
</style>
