<template>
    <div class="sale-banner">
        <div class="sale-banner__text-container">
            <p>Большая распродажа</p>
            <p>скидки <br class="tablet-plus" />до 50%</p>
        </div>
        <SaleTimer :endDate="'07/13/2024'" />
    </div>
</template>

<script setup>
import SaleTimer from '@/components/sale-timer/SaleTimer.vue'
</script>

<style lang="scss" scoped>
.sale-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.2rem 1.6rem;
    background-color: $color-primary-1;

    &__text-container {
        width: 100%;
        margin: auto;
        font-weight: 700;
        font-size: 3.2rem;
        color: $color-base-6;
        text-align: center;

        & p:first-of-type {
            font-size: 1.2rem;
        }
    }
}
@media screen and (max-width: 1200px) {
    .sale-banner {
        padding: 2rem 1.4rem;
        &__text-container {
            margin: unset;
            font-size: 2.4rem;
            & p:first-of-type {
                font-size: 1.2rem;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .sale-banner {
        padding: 1.6rem 0.8rem;
        &__text-container {
            font-size: 2rem;
            & p:first-of-type {
                font-size: 1rem;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .sale-banner {
        padding: 1.2rem 0.4rem;
        align-items: center;
        &__text-container {
            font-size: 1.6rem;
            & p:first-of-type {
                font-size: 0.8rem;
            }
        }
    }
    .tablet-plus {
        display: none;
    }
}
</style>
