<template>
    <router-link
        class="main-category"
        :to="{
            name: 'catalog',
            params: { category: props.category.link }
        }"
    >
        <span class="main-category__title">{{ props.category.title }}</span>
        <img class="main-category__image" :src="props.category.img" :alt="props.category.title" />
    </router-link>
</template>

<script setup>
import { RouterLink } from 'vue-router'
import { defineProps } from 'vue'

const props = defineProps({
    category: {
        type: Object
    }
})
</script>

<style lang="scss" scoped>
.main-category {
    position: relative;
    padding: 1.2rem;
    background-color: $color-base-5;

    &__title {
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-base-1;
    }
    &__image {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}
@media screen and (max-width: 768px) {
    .main-category {
        padding: 0.8rem;
        &__title {
            font-size: 0.8rem;
        }
    }
}
</style>
