<template>
    <HomeTopSection />
    <CatalogSection />
    <SellEquipment />
</template>

<script setup>
import HomeTopSection from '@/components/home-page/HomeTopSection.vue'
import CatalogSection from '@/components/catalog/CatalogSection.vue'
import SellEquipment from '@/components/SellEquipment.vue'
</script>

<style lang="scss" scoped></style>
