<template>
    <div class="container modal">
        <div @click="routerBack" class="modal__background"></div>
        <div class="modal__container">
            <button @click.prevent="routerBack" class="modal__close-btn">
                <IconClose />
            </button>
            <div class="product-modal">
                <h4 class="product-modal__title product-modal__title_mobile">
                    Куртка утепленная женская Glissade
                </h4>
                <div class="product-modal__slider-container">
                    <swiper-container
                        slide-to-clicked-slide="true"
                        space-between="16px"
                        slide-active-class="product-modal__slider-thumb_active"
                        slides-per-view="auto"
                        :breakpoints="{
                            992: {
                                direction: 'vertical',
                                slidesPerView: 3
                            }
                        }"
                        class="product-modal__slider-thumbs"
                    >
                        <swiper-slide
                            v-for="image in modalPictures"
                            :key="image"
                            class="product-modal__slider-thumb"
                        >
                            <img :src="image" /> </swiper-slide
                    ></swiper-container>
                    <swiper-container
                        thumbs-swiper=".product-modal__slider-thumbs"
                        slides-per-view="1"
                        class="product-modal__slider-slides"
                    >
                        <swiper-slide v-for="image in modalPictures" :key="image">
                            <img :src="image" />
                        </swiper-slide>
                    </swiper-container>
                </div>
                <div class="product-modal__info">
                    <h4 class="product-modal__title">Куртка утепленная женская Glissade</h4>
                    <div class="product-modal__info-block">
                        <p class="product-modal__subtitle">Цвет:</p>
                        <ProductColorButtons class="product-modal__info_colors" :colors="colors" />
                    </div>
                    <div class="product-modal__info-block">
                        <p class="product-modal__subtitle">Размер:</p>
                        <ProductSizeButtons class="product-modal__info_sizes" :sizes="sizes" />
                    </div>
                    <div class="product-modal__info-block">
                        <p class="product-modal__subtitle">Описание:</p>
                        <p>
                            Легкая и практичная куртка от Glissade понравится всем, кто увлекается
                            зимними видами спорта.
                        </p>
                    </div>
                    <div class="product-modal__info-block">
                        <p class="product-modal__info-price">4 599 ₽</p>
                    </div>
                    <ButtonComponent>Добавить в корзину</ButtonComponent>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import ProductSizeButtons from '@/components/catalog/ProductSizeButtons.vue'
import ProductColorButtons from '@/components/catalog/ProductColorButtons.vue'
import IconClose from '@/components/icons/IconClose.vue'
import { useRouter } from 'vue-router'
import ButtonComponent from '../ui/ButtonComponent.vue'
import productModalPicture1 from '@/assets/images/catalog/product-5.jpg'
import productModalPicture2 from '@/assets/images/catalog/product-5_1.jpg'
import productModalPicture3 from '@/assets/images/catalog/product-5_2.jpg'
import { register } from 'swiper/element/bundle'
const sizes = ['40/42', '42/44', '44/46', '46/48']
const colors = ['#00D2D8', '#EB5757', '#27AE60', '#0B0B0B']

register()

const modalPictures = [productModalPicture1, productModalPicture2, productModalPicture3]

const router = useRouter()
const routerBack = () => {
    router.go(-1)
}
</script>

<style lang="scss" scoped>
.product-modal {
    display: grid;
    grid-template-columns: 26.8rem minmax(auto, 26.8rem);
    column-gap: 2rem;
    &__slider-container {
        display: grid;
        grid-template-columns: 6.1rem auto;
        grid-template-rows: 26rem;
        gap: 16px;
    }
    &__slider-slides {
        overflow: hidden;
        border-radius: 0.8rem;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__slider-thumb {
        height: 8.1rem;
        border-radius: 0.8rem;
        overflow: hidden;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &_active {
            border: 1px solid $color-primary-1;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
        &_mobile {
            display: none;
        }
    }
    &__info {
        &_colors {
            display: flex;
            gap: 0.4rem;
        }
        &_sizes {
            display: flex;
            gap: 0.8rem;
            font-size: 1rem;
        }
    }
    &__info-block {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-bottom: 1.2rem;
    }
    &__subtitle {
        font-weight: 500;
    }
    &__info-price {
        font-weight: 700;
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 992px) {
    .product-modal {
        grid-template-columns: 19.4rem minmax(auto, 21.4rem);
        column-gap: 1.6rem;
        &__slider-container {
            grid-template-columns: auto;
            grid-template-rows: 26rem 6.5rem;
        }
        &__slider-slides {
            order: -1;
        }
        &__slider-thumb {
            height: 6.5rem;
        }
        &__title {
        }
        &__info {
        }
        &__info-block {
            font-size: 0.9rem;
        }
        &__info-price {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 767px) {
    .modal__container {
        border-radius: unset;
    }
    .product-modal {
        grid-template-columns: auto;

        &__slider-container {
            grid-template-rows: 18rem;
        }
        &__slider-slides {
            margin-bottom: 1rem;
        }
        &__slider-thumbs {
            display: none;
        }
        &__title:not(.product-modal__title_mobile) {
            display: none;
        }
        &__title {
            &_mobile {
                display: block;
            }
        }
        &__info {
        }
        &__info-block {
            font-size: 0.7rem;
        }
        &__info-price {
            font-size: 0.8rem;
        }
    }
}
</style>
