<template>
    <transition name="modal">
        <div v-if="isModalActive" class="container modal">
            <div @click="$emit('closeModal'), clearInput()" class="modal__background"></div>
            <div class="modal__container">
                <button @click.prevent="$emit('closeModal'), clearInput()" class="modal__close-btn">
                    <IconClose />
                </button>
                <form class="auth-form">
                    <h4 class="auth-form__title">Вход или регистрация</h4>
                    <template v-if="readyToSendSms">
                        <input type="number" class="ui-input" placeholder="Код из SMS" />
                        <ButtonComponentVue :class="[isCorrectCode ? '' : 'disabled']">
                            Подтвердить
                        </ButtonComponentVue>
                    </template>
                    <template v-else>
                        <input
                            v-model="state.phone"
                            type="number"
                            class="ui-input"
                            placeholder="Номер телефона"
                            @input="watchCorrect"
                        />
                        <ButtonComponentVue
                            @click.prevent="handleSubmit"
                            :class="[isCorrectNumber ? '' : 'disabled']"
                        >
                            Отправить код
                        </ButtonComponentVue>
                    </template>
                </form>
            </div>
        </div>
    </transition>
</template>

<script setup>
import { ref, defineProps, computed, reactive } from 'vue'
import ButtonComponentVue from '../ui/ButtonComponent.vue'
import IconClose from '@/components/icons/IconClose.vue'
import { useVuelidate } from '@vuelidate/core'
import { required, minLength } from '@vuelidate/validators'

const props = defineProps({
    isActive: Boolean
})
let isModalActive = computed(() => props.isActive)
let isCorrectNumber = ref(true)
let isCorrectCode = ref(false)
let readyToSendSms = ref(false)

const state = reactive({
    phone: ''
})

const clearInput = () => {
    state.phone = ''
    readyToSendSms.value = false
}

const inputValidate = computed(() => {
    return {
        phone: { required, minLength: minLength(11) }
    }
})

const v$ = useVuelidate(inputValidate, state)

async function handleSubmit() {
    const result = await v$.value.$validate()
    if (!result) {
        readyToSendSms.value = false
        return
    }
    readyToSendSms.value = true
}

async function watchCorrect() {
    const result = await v$.value.$validate()
    if (!result) {
        isCorrectNumber.value = false
        return
    }
    isCorrectNumber.value = true
}
</script>

<style lang="scss" scoped>
.modal__container {
    background-color: $color-base-5;
}
.auth-form {
    display: flex;
    width: 21rem;
    flex-direction: column;
    gap: 1.2rem;
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        color: $color-base-1;
    }
}
@media screen and (max-width: 922px) {
    .auth-form {
        width: 20.8rem;
        &__title {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 767px) {
    .auth-form {
        width: auto;
        gap: 1rem;
        &__title {
            font-size: 0.8rem;
            padding: 0 1rem;
            text-align: center;
        }
    }
}
</style>
