<template>
    <section class="sell-equipment">
        <div class="sell-equipment__container">
            <h2>покупаем Б/у сноуборды и зимнюю экипировку</h2>
            <p>
                Оставьте свои данные и приложите фото вещей, которые хотите продать и мы сами
                заберем ваши вещи в удобное для вас время.
            </p>
            <form action="#">
                <div class="sell-equipment__inputs">
                    <input type="text" class="ui-input" placeholder="Ваше имя" />
                    <input type="tel" name="" id="" class="ui-input" placeholder="Номер телефона" />
                    <CustomDropdownSelect
                        :name="'dateSelect'"
                        :selectData="dateSelect"
                        :placeholder="'Выберите дату'"
                    />
                    <CustomDropdownSelect
                        :name="'timeSelect'"
                        :selectData="timeSelect"
                        :placeholder="'Выберите время'"
                    />
                    <div class="sell-equipment__condition large-input">
                        <label class="sell-equipment__condition-label ui-checkbox">
                            <input type="radio" name="equipment-condition" id="good-condition" />
                            Хорошее состояние
                        </label>
                        <label class="sell-equipment__condition-label ui-checkbox">
                            <input type="radio" name="equipment-condition" id="bad-condition" />
                            Плохое состояние
                        </label>
                    </div>
                    <CustomInputFile class="large-input" />
                    <ButtonComponent class="sell-equipment__send-btn">Отправить</ButtonComponent>
                </div>
            </form>
        </div>
        <div class="sell-equipment__img-container">
            <img :src="equipmentImg" alt="sell-equipment" />
        </div>
    </section>
</template>

<script setup>
import ButtonComponent from '@/components/ui/ButtonComponent.vue'
import CustomInputFile from '@/components/ui/CustomInputFile.vue'
import CustomDropdownSelect from '@/components/ui/CustomDropdownSelect.vue'
import equipmentImg from '/src/assets/images/vector.png'

const dateSelect = [
    '19.02.2024',
    '20.02.2024',
    '21.02.2024',
    '22.02.2024',
    '23.02.2024',
    '24.02.2024'
]
const timeSelect = ['10:00-12:00', '12:00-14:00', '14:00-16:00', '16:00-18:00']
</script>

<style lang="scss" scoped>
.sell-equipment {
    display: grid;
    grid-template-columns: minmax(auto, 39rem) minmax(10rem, 32.3rem);
    gap: 1rem;
    justify-content: space-between;
    background-color: $color-primary-3;
    border-radius: 0.8rem;
    padding: 3.2rem;
    &__container {
        max-width: 39rem;
        & h2 {
            margin-bottom: 0.8rem;
        }
        & form {
            margin-top: 2rem;
        }
    }
    &__img-container {
        position: relative;
        flex: 1 1 auto;
        & img {
            position: absolute;
            object-fit: contain;
            width: 100%;
            max-width: 32.3rem;
            height: 100%;
        }
    }
    &__inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2.8rem;
        gap: 0.8rem;
        & .large-input {
            grid-column: span 2;
        }
    }
    &__send-btn {
        margin-top: 1.2rem;
    }
    &__condition {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.2rem;
        row-gap: 0.8rem;
    }
    &__condition-label {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
}
@media screen and (max-width: 1200px) {
    .sell-equipment {
        padding: 2rem;
        &__container {
            max-width: 33.4rem;
        }
        &__img-container {
            display: none;
        }
    }
}
@media screen and (max-width: 992px) {
    .sell-equipment {
        padding: 1.2rem;
        grid-template-columns: auto;
        &__inputs {
            grid-template-rows: auto;
        }
    }
}
@media screen and (max-width: 767px) {
    .sell-equipment {
        padding: 0.8rem;
        font-size: 0.7rem;
        &__inputs {
            grid-template-columns: auto;
            & .large-input {
                grid-column: unset;
            }
        }
        &__container {
            & h2 {
                margin-bottom: 0.4rem;
            }
            & form {
                margin-top: 1.2rem;
            }
        }
    }
}
</style>
