<template>
    <footer class="footer">
        <div class="container">
            <p>2019-2023 © TestShop. Вcе права защищены.</p>
        </div>
    </footer>
</template>

<script setup></script>

<style lang="scss" scoped>
.footer {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: $color-base-1;
    color: $color-base-6;
    & p {
        float: right;
    }
}
@media screen and (max-width: 992px) {
    .footer {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        height: 3.2rem;
        font-size: 0.7rem;
    }
}
</style>
