<template>
    <header class="header">
        <div class="container">
            <button @click="openAuthModal" id="auth" class="header__button">
                <IconProfile class="header__button_svg" />
            </button>
            <RouterLink class="header__logo" to="/">Testshop</RouterLink>
            <button id="cart" class="header__button">
                <IconCart class="header__button" />
            </button>
        </div>
        <ModalAuth :isActive="isAuthModalActive" @closeModal="closeAuthModal" />
    </header>
</template>

<script setup>
import IconProfile from '@/components/icons/IconProfile.vue'
import IconCart from '@/components/icons/IconCart.vue'
import ModalAuth from '@/components/modal/ModalAuth.vue'
import { RouterLink } from 'vue-router'
import { ref } from 'vue'

let isAuthModalActive = ref(false)

const openAuthModal = () => {
    if (isAuthModalActive.value === false) {
        isAuthModalActive.value = true
    }
}
const closeAuthModal = () => {
    if (isAuthModalActive.value === true) {
        isAuthModalActive.value = false
    }
}
</script>

<style lang="scss" scoped>
.header {
    background-color: $color-base-1;
    height: 4rem;
    & .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color-base-6;
    }
    &__logo {
        font-weight: 700;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: $color-base-6;
    }
    &__button {
        width: 1.6rem;
        height: 1.6rem;
        background-color: transparent;
        color: $color-base-6;
        &_svg {
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (max-width: 768px) {
    .header {
        height: 3.2rem;
        &__logo {
            font-size: 1.2rem;
        }
        &__button {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}
</style>
