<template>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M5.8905 4.87596C5.95306 4.37554 6.37846 4 6.88278 4H17.1172C17.6215 4 18.0469 4.37554 18.1095 4.87597L19.8595 18.876C19.9341 19.4728 19.4687 20 18.8672 20H5.13278C4.53128 20 4.0659 19.4728 4.1405 18.876L5.8905 4.87596Z"
            stroke="currentcolor"
        />
        <path d="M15 6C15 7.65685 13.6569 9 12 9C10.3431 9 9 7.65685 9 6" stroke="currentcolor" />
    </svg>
</template>
