<template>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M9.91069 8.74541V16.0294C9.91939 16.5621 10.1442 17.0701 10.5367 17.4437C10.9292 17.8174 11.4579 18.0269 12.0086 18.0269C12.5594 18.0269 13.088 17.8174 13.4805 17.4437C13.873 17.0701 14.0979 16.5621 14.1066 16.0294L14.1134 6.48197C14.1191 6.02671 14.0313 5.57489 13.8552 5.15269C13.679 4.73048 13.4179 4.34631 13.0871 4.02242C12.7563 3.69854 12.3623 3.44139 11.928 3.26588C11.4937 3.09037 11.0277 3 10.557 3C10.0863 3 9.62023 3.09037 9.18591 3.26588C8.75158 3.44139 8.3576 3.69854 8.02678 4.02242C7.69597 4.34631 7.43492 4.73048 7.25875 5.15269C7.08258 5.57489 6.99481 6.02671 7.00052 6.48197V16.0937C6.99093 16.7347 7.11316 17.3711 7.36011 17.9659C7.60705 18.5607 7.97378 19.1021 8.43898 19.5587C8.90417 20.0152 9.45855 20.3777 10.0699 20.6251C10.6812 20.8726 11.3373 21 12 21C12.6627 21 13.3188 20.8726 13.9301 20.6251C14.5414 20.3777 15.0958 20.0152 15.561 19.5587C16.0262 19.1021 16.3929 18.5607 16.6399 17.9659C16.8868 17.3711 17.0091 16.7347 16.9995 16.0937V7.11188"
            stroke="black"
            stroke-miterlimit="10"
            stroke-linecap="round"
        />
    </svg>
</template>
