<script setup>
import { RouterView } from 'vue-router'
import TheHeader from '@/components/TheHeader.vue'
import TheFooter from '@/components/TheFooter.vue'
import { useStore } from 'vuex'

const store = useStore()
console.log(store.state.modalContent)
</script>

<template>
    <div class="wrapper">
        <TheHeader />
        <main class="container page-sections">
            <RouterView />
        </main>
        <TheFooter />
    </div>
</template>
