<template>
    <button @click.prevent="" class="primary-btn">
        <slot></slot>
    </button>
</template>

<script setup></script>

<style lang="scss" scoped>
.primary-btn {
    display: flex;
    width: 100%;
    height: 2.8rem;
    align-items: center;
    justify-content: center;
    background-color: $color-primary-1;
    font-size: 1rem;
    color: $color-base-6;
    border-radius: 0.4rem;
    padding: 0 0.8rem;
    transition: all 0.3s ease;
    &:hover {
        background-color: $color-primary-2;
    }
    &.disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}
@media screen and (max-width: 1199px) {
    .primary-btn {
        height: 2.4rem;
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 767px) {
    .primary-btn {
        height: 2rem;
        font-size: 0.7rem;
    }
}
</style>
