<template>
    <div
        @click="isOpenList = !isOpenList"
        class="custom-select__container"
        :class="{ open: isOpenList }"
    >
        <input
            v-model="inputValue"
            type="text"
            class="custom-select__input ui-input"
            :placeholder="props.placeholder"
            readonly
        />
        <IconChevronDown class="custom-select__chevron" />
        <ul class="custom-select__list">
            <li
                @click="chooseSelectItem(item)"
                v-for="item in props.selectData"
                :key="item"
                class="custom-select__item"
            >
                {{ item }}
            </li>
        </ul>
    </div>
</template>

<script setup>
import { defineProps, ref } from 'vue'
import IconChevronDown from '@/components/icons/IconChevronDown.vue'

let isOpenList = ref(false)
let inputValue = null

const chooseSelectItem = (item) => {
    inputValue = item
}
document.addEventListener('click', (e) => {
    if (!e.target.closest('.custom-select__container')) {
        isOpenList.value = false
    }
})

const props = defineProps({
    selectData: Object,
    placeholder: String
})
</script>

<style lang="scss" scoped>
.custom-select {
    &__container {
        position: relative;
        transition: all 0.3s ease-in-out;

        &.open .custom-select__list {
            max-height: 14rem;
        }
        &.open .custom-select__chevron {
            transform: translateY(-50%) rotate(180deg);
        }
    }
    &__input {
        width: 100%;
        cursor: pointer;
    }
    &__list {
        position: absolute;
        top: calc(100% + 0.25rem);
        width: 100%;
        max-height: 0;
        box-shadow: 0px 2px 8px 0px #0b0b0b1a;
        border-radius: 0.4rem;
        background-color: $color-base-6;
        z-index: 2;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 0.8rem;
        height: 2.8rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: #f8f8fa;
        }
    }
    &__chevron {
        position: absolute;
        top: 50%;
        right: 0.8rem;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
    }
}
</style>
