<template>
    <div class="custom-input-file__container">
        <label for="equipment-file" class="custom-input-file ui-input">
            <input
                @change="handleFileUpload"
                type="file"
                name="equipment-file"
                id="equipment-file"
                multiple
            />
            <IconFile />
            <span>Приложить файл</span>
        </label>
        <ul
            v-if="inputStorageArray && inputStorageArray.length"
            class="custom-input-file__files-list"
        >
            <li
                v-for="file in inputStorageArray"
                :key="file.name"
                class="custom-input-file__files-item"
            >
                {{ file.name }}
                <button @click.prevent="removeFile(file)" class="custom-input-file__files-remove">
                    <IconClose />
                </button>
            </li>
        </ul>
    </div>
</template>

<script setup>
import IconFile from '@/components/icons/IconFile.vue'
import IconClose from '@/components/icons/IconClose.vue'
import { ref, onMounted } from 'vue'

let fileInput = null
onMounted(() => {
    fileInput = document.querySelector('#equipment-file')
})

const data = new DataTransfer()
let inputStorageArray = ref(null)

const handleFileUpload = function () {
    inputStorageArray.value = Object.values(fileInput.files)
    data.items.clear()
    inputStorageArray.value.forEach((file) => {
        data.items.add(file)
    })
}

const removeFile = (item) => {
    data.items.remove(item)
    inputStorageArray.value = Object.values(data.files)
    fileInput.files = data.files
}
</script>

<style lang="scss" scoped>
.custom-input-file {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    & input[type='file'] {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
    }
    &__files-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.2rem;
        column-gap: 1.2rem;
    }
    &__files-item {
        display: flex;
        align-items: center;
        gap: 0.6rem;
    }
    &__files-remove {
        display: flex;
        background-color: transparent;
    }
}
</style>
